* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

hr {
  border: 1px solid rgb(212, 120, 14);
  margin-top: 0.25rem 0;
}

body {
  background-color: rgb(236, 233, 233);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0.25rem;
}

header img {
  width: 3rem;
  height: 3rem;
}

header a {
  color: rgb(58, 58, 58);
  margin-left: 0.75rem;
}

header nav {
  display: flex;
  margin: auto 0;
}

main {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem;
}

.image {
  background-color: white;
  width: 100%;
  padding: 0.75rem;
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  color: rgb(58, 58, 58);
}
.image img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 30rem;
}
.greeting {
  margin: auto 0.25rem auto 0.25rem;
}
.greeting h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.greeting p {
  font-size: 1.25rem;
}

.about {
  background-color: transparent;
  padding: 1rem;
  margin: 0.75rem auto;
  color: black;
  border-radius: 10px;
}

#about-me {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.full-stack {
  color: rgb(138, 43, 226);
}

.tech-stack {
  background-color: white;
  padding: 1rem;
  color: rgb(58, 58, 58);
  border-radius: 10px;
}

.tech-stack h1 {
  text-align: center;
}

.frontend,
.backend,
.others {
  margin: 2.5rem auto;
  align-items: center;
  text-align: center;
  display: none;
}

.stacks {
  display: flex;
  padding: 0.75rem;
  justify-content: space-around;
  margin: 1rem auto;
}

.tech {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin: 0 auto;
}

.frontend img,
.backend img,
.others img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  background-color: transparent;
  background-color: rgb(58, 58, 58);
  border: 1px solid white;
}

.projects {
  background-color: transparent;
  padding: 0.5rem;
  margin: 0.75rem auto;
  border-radius: 10px;
}

.projects h1 {
  text-align: center;
}

.myprojs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.myprojs div {
  width: 20rem;
  padding: 0.5rem;
}

.myprojs div img {
  width: 100%;
  object-fit: cover;
}

.experience-stack {
  background-color: white;
  padding: 1.25rem;
  margin: 0.75rem auto;
  color: rgb(58, 58, 58);
  border-radius: 10px;
}

.experience-stack h1 {
  text-align: center;
}

.experience-buttons {
  display: flex;
  justify-content: space-around;
}

.education,
.experience {
  margin: auto 5rem;
  align-items: center;
  display: none;
}

.experience ul,
.education ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.experience p,
.education p {
  color: rgb(58, 58, 58);
  font-weight: bold;
}

.experience ol,
.education ol {
  padding: 0;
  margin: 0;
  color: rgb(58, 58, 58);
  list-style: disc;
}

.medium {
  display: flex;
  justify-content: space-around;
}

.contact h1 {
  text-align: center;
}

.medium img {
  height: 2rem;
  width: 2rem;
}
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.25rem 1.5rem;
  background-color: rgb(138, 43, 226);
  color: white;
  border: 1px solid rgb(138, 43, 226);
  border-radius: 4px;
  text-align: center;
  margin-top: 0.25rem;
}

.btn-alt {
  background-color: transparent;
  color: black;
  border: none;
}

/* .btn:hover,
.btn:active {
  background-color: rgb(148, 0, 211);
  border-color:rgb(148, 0, 211);
} */

.btn-alt:hover,
.btn-alt:active {
  background-color: transparent;
}

footer {
  background-color: transparent;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
}

footer img {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}

footer div,
p {
  padding: 0;
  margin: 0;
}

#text {
  color: rgb(138, 43, 226);
  width: 100%;
  height: 100%;
  animation: slideText 1s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  50% {
    opacity: 0; /* Fade out halfway through the animation */
    transform: translateX(-20%);
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(-100%);
  }
}

@media (max-width: 48rem) {
  header {
    display: none;
  }
  main {
    padding: 0.75rem;
  }
  .image {
    flex-direction: column;
  }

  .image img {
    width: 7rem;
    height: 7rem;
    border-radius: 14rem;
  }

  .greeting h1 {
    font-size: 1.5rem;
  }

  .greeting p {
    font-size: 1rem;
  }

  #about-me {
    font-size: 1.25rem;
  }

  .about h1 {
    font-size: 1.25rem;
  }

  .frontend img,
  .backend img,
  .others img {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    background-color: transparent;
  }

  .tech {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  }

  .frontend,
  .backend,
  .others {
    margin: 1.5rem auto;
  }

  .btn {
    margin-left: 0.5rem;
  }

  .experience p,
  .education p {
    color: rgb(58, 58, 58);
    font-weight: bold;
    font-size: 0.75rem;
  }
  .experience ol,
  .education ol {
    font-size: 0.75rem;
  }
  .education,
  .experience {
    margin: 0.5rem auto;
  }
  .myprojs div {
    width: 100%;
  }
  .myprojs {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .medium img {
    width: 1rem;
    height: 1rem;
  }
}
